<!DOCTYPE html >
<html lang="ru">
<head>
	<meta charset="utf-8">
            
	<title>Домашние продукты без посредников на Камчатке</title>
	<meta name="description" content="Домашние продукты без посредников на Камчатке! Купить домашнее молоко, молочные продукты коров и коз. Парное мясо. Tel: + 7[900]441-41-11">
	<meta name="keywords" content=" Камчатка, молоко, коровье, козье, домашнее, натуральное, творог, сметана, мясо, парное, яйцо, кролики, козы, коровы, продажа, купить, ферма">
	<meta name="author" content="farmily.ru">
	<meta name="copyright" content="Копирайт © 1991-2014 Семейная ферма | Farmily">
	<meta HTTP-EQUIV="Reply-to" content="farmily.ru@gmail.com">
	<meta name="Revizit-after" content="30 days">
	<meta name="viewport" content="width=975" />
	<meta property="og:title" content="Семейная ферма | Farmily"/>
	<meta property="og:description" content="Любитель  питаться химией? Переплачивать? Проходи мимо! Тут только - ДОМАШНИЕ ПРОДУКТЫ БЕЗ ПОСРЕДНИКОВ - для жителей Камчатки. Tel: + 7 [900] 441 41 11"/>
	<meta property="og:url" content="http://farmily.ru/"/>
	<meta property="og:image" content="http://farmily.ru/static-assets/ico/123.jpg"/>
	<meta property="og:site_name" content="Farmily.ru"/>	
	
	


	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="static-assets/lw-jquery-xml-cart/css/allSite.css">
	<link rel="stylesheet" href="static-assets/packages/bootstrap-3.3.1/css/bootstrap.min.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	
<!--  fav and touch icons -->
<link rel="shortcut icon" href="static-assets/ico/favicon.ico">
<link rel="apple-touch-icon" href="static-assets/ico/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static-assets/ico/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static-assets/ico/apple-touch-icon-114x114.png">
</head>


<body class="bs-3">

	<section id="loader">
		
		<h1>ДОМАШНИЕ ПРОДУКТЫ БЕЗ ПОСРЕДНИКОВ</h1>

	</section>
<style>
.FrelanceWebDesign{text-decoration:none;font-family:Arial;display:block;position:fixed;left:2%;font-size:16px;font-weight:700;text-align:center;padding:10px;vertical-align:middle;color:#CDD7DD!important;width:80px;height:80px;margin:0 auto;top:2%;background:#FFF;border:none;border-radius:60px;pointer-events:all;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-box-shadow:0 50px 80px 0 rgba(0,0,0,.2);-moz-box-shadow:0 50px 80px 0 rgba(0,0,0,.2);box-shadow:0 50px 80px 0 rgba(0,0,0,.2);-webkit-transition:all .7s cubic-bezier(.26,1.48,.47,.96);transition:all .7s cubic-bezier(.26,1.48,.47,.96);z-index:20000;line-height:1}
.FrelanceWebDesign:hover{transform:scale(.99,.99);-webkit-box-shadow:0 50px 80px 0 rgba(0,0,0,.1);box-shadow:0 2px 4px 0 rgba(0,0,0,.1);cursor:pointer;text-decoration:none}
.FrelanceWebDesignRed{color:#EB7E6D}.made{top:15px;position:relative}
</style>
<a href="http://my-look.ru/" target=_blank class="FrelanceWebDesign">
<div class=made><span class=span-made>MADE</span>
<span class=span-made><span class="FrelanceWebDesignRed">BY</span>ME</span></span></div></a>	

	<section id="portfolio">
		
		<div class="flexslider">
			
            <ul class="slides">
			
                <li class="top">

                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/1.svg);">
					<a data-productindex="dscf0001" href="#/product/uid-dscf0001/opium-n9" class="bottom-background"></a>
					</div>
					
					
					<a data-productindex="dscf0001" href="#/product/uid-dscf0001/opium-n9" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/1.svg" alt="Домашнее коровье молоко">
					</a>
					
                </li>
				
                <li class="top">  
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/2.svg);">
					<a data-productindex="lscf0001" href="#/product/uid-lscf0001/dell-alienware" class="bottom-background"></a>
					</div>
					
					<a data-productindex="lscf0001" href="#/product/uid-lscf0001/dell-alienware" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/2.svg" alt="Домашнее козье молоко">
					</a>
					
                </li>
				
                <li class="top">  
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/3.svg);">
					<a data-productindex="dscf0002" href="#/product/uid-dscf0002/moto-g" class="bottom-background"></a>
					</div>
					
					<a data-productindex="dscf0002" href="#/product/uid-dscf0002/moto-g" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/3.svg" alt="Домашний творог">
					</a>
					
                </li>
				
                <li class="top"> 
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/4.svg);">
					<a data-productindex="dscf0003" href="#/product/uid-dscf0003/redmi-1s" class="bottom-background"></a>
					</div>
					
					<a data-productindex="dscf0003" href="#/product/uid-dscf0003/redmi-1s" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/4.svg" alt="Домашняя сметана">
					</a>
					
                </li>
				
                <li class="top"> 
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/5.svg);">
					<a data-productindex="dscf0004" href="#/product/uid-dscf0004/iphone-5s" class="bottom-background"></a>
					</div>
					
					<a data-productindex="dscf0004" href="#/product/uid-dscf0004/iphone-5s" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/5.svg" alt="">
					</a>
					
                </li>
				
				 <li class="top">
				 
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/6.svg);">
					<a data-productindex="dscf0005" href="#/product/uid-dscf0006/asus-zenfone-5" class="bottom-background"></a>
					</div>
					
					<a data-productindex="dscf0005" href="#/product/uid-dscf0006/asus-zenfone-5" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/6.svg" alt="">
					</a>
					
                </li>
				
                <li class="top">
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/7.svg);">
					<a data-productindex="dscf0005" href="#/product/uid-dscf0005/asus-zenfone-5" class="bottom-background"></a>
					</div>
					
					<a data-productindex="dscf0005" href="#/product/uid-dscf0005/asus-zenfone-5" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/7.svg" alt="">
					</a>
					
                </li>

                <li class="top"> 
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/8.svg);">
					<a data-productindex="tvcf0001" href="#/product/uid-tvcf0001/samsung-32h6400" class="bottom-background"></a>
					</div>
					
					<a data-productindex="tvcf0001" href="#/product/uid-tvcf0001/samsung-32h6400" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/8.svg" alt="">
					</a>
					
                </li>
				
                <li class="top"> 
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/9.svg);">
					<a data-productindex="tscf0001" href="#/product/uid-tscf0001/lenovo-yoga-2-tablet" class="bottom-background"></a>
					</div>
					
					<a data-productindex="tscf0001" href="#/product/uid-tscf0001/lenovo-yoga-2-tablet" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/9.svg" alt="">
					</a>
					
                </li>
				
                <li class="top"> 
				
                    <div style="background-image:url(static-assets/lw-jquery-xml-cart/img/slides/2d/svg/10.svg);">
					<a data-productindex="tscf0002" href="#/product/uid-tscf0002/huawei-honor" class="bottom-background"></a>
					</div>
					
					<a data-productindex="tscf0002" href="#/product/uid-tscf0002/huawei-honor" class="">
					<img src="static-assets/lw-jquery-xml-cart/img/slides/2d/svg/10.svg" alt="">
					</a>
					
                </li>
				

            </ul>

		</div>

		<p class="navinfo">
			Смахните в строну изображение<span> для просмотра продуктов или используйте клавиши со стрелками</span>.<span><br>Кликните по изображению для покупки.</span>			 
		</p>

		<a href="#" class="info">
			<span class="plus glyphicon glyphicon-sound-stereo"></span>
		</a>
      <!-- Show Cart Button -->
      <span class="oval green shopping-cart-btn-container"></span> 
      <!-- /Show Cart Button --> 
	  
	  
<div class="align_center">
    <div class="align_center_to_left">
        <div class="align_center_to_right">
            <div class="social-likes social-likes_single" data-url="http://farmily.ru/" data-title="Домашние продукты без посредников на Камчатке." data-single-title="Поделиться">
                <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                <div class="twitter" data-via="@Farmily_ru" data-related="Домашние продукты без посредников на Камчатке. Телефон: +7(900)441-41-11" title="Поделиться ссылкой в Твиттере">Twitter</div>
                <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
                <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
                <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>
        </div>
    </div>
</div>

<div class="align_center1">
    <div class="align_center_to_left1">
        <div class="align_center_to_right1">
            <div class="social-likes1 social-likes_single1">
				<div data-count-clicks="true" data-icon-style="0" data-text-size="12" data-pid="1372529" data-icon-size="30" data-background-color="#ffffff" data-icon-color="d9534f" data-text-color="000000" data-like-layout="ic" data-dislike-layout="ic" class="uptolike-rating"></div>
            </div>
        </div>
    </div>
</div>

	</section>


	<section id="about">
		
		<div class="about-content">
			
			<h2>Семейная ферма</h2>

			<p>
				В настоящее время четко прослеживается интерес к вкусной, здоровой, органической пище, <br class="hidden-phone"/>
				которую не просто отыскать на прилавках наших магазинов. Многие ищут “по знакомствам”, <br class="hidden-phone"/>
				по советам “бывалых”. В итоге, вроде такой простой и доступный продукт, пройдя вереницу <br class="hidden-phone"/>
				рук, преград и прочего, оказывается у конечного потребителя по цене далекой от <br class="hidden-phone"/>
				рекомендуемой, с уже изрядно “потрепанным” сроком хранения.

			</p>
			<p>
				Мы - маленькое Подсобно-Фермерское хозяйство производящее и реализующее без <br class="hidden-phone"/>
				посредников  с 1991 года натуральные, домашние продукты питания для жителей Камчатки.
			</p>

			<h3>Контакты</h3>

			<p>
				<a href="tel://+79004414111"><span class="glyphicon glyphicon-earphone"></span>
				&nbsp; +7 [900] 441 41 11</a><br>
				<a href="mailto:farmily.ru@gmail.com"><span class="glyphicon glyphicon-envelope"></span>
				&nbsp; farmily.ru@gmail.com</a><br>
			</p>
			
			<p>
				<a href="https://www.google.ru/maps/@53.1236141,158.5174021,15z?hl=ru" target="_blank">
				<span class="glyphicon glyphicon-map-marker"></span>
				&nbsp; ул.Гагарина 10, п.Нагорный <br>
				&nbsp; &emsp; Елизовский р-н, Камчатский к-й<br>
				&nbsp; &emsp; Россия, 684014</a>
			</p>
			
			<p>
                        <form class="liner" action="https://www.facebook.com/farmily.ru" target="_blank">
                            <button type="submit" class="btn btn-default btn-facebook"><span class="glyphicon glyphicon-sound-5-1"></span></button>
                        </form>
                        <form class="liner" action="https://twitter.com/Farmily_ru" target="_blank">
                            <button type="submit" class="btn btn-default btn-twitter"><span class="glyphicon glyphicon-sound-7-1"></span></button>
                        </form>
                        <form class="liner" action="https://vk.com/farmilyru" target="_blank">
                            <button type="submit" class="btn btn-default btn-vk"><span class="glyphicon glyphicon-sound-6-1"></span></button>
                        </form>
				<!-- Button trigger modal -->
				<button class="btn btn-warning" data-toggle="modal" data-target="#myModal">
						Новости
				</button>
			</p>

			<p>
                <div id="mc_embed_signup mailchimp1">
                    <form action="//farmily.us8.list-manage.com/subscribe/post?u=54ff78ea102067cf0db380e4c&amp;id=37e38f26e9" method="post" id="mc-embedded-subscribe-form mailchimp2" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll mailchimp3">
                                            
							<input type="email" value="" name="EMAIL" class="btnsubscribe1 email form-control required mail" id="mce-EMAIL mailchimp4" placeholder="Подписка на e-mail" style="" required>
                                            
								<div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_54ff78ea102067cf0db380e4c_37e38f26e9" tabindex="-1" value="">
                                </div>
                                            
								<div class="clear">
                                <button type="submit" value="" name="subscribe" id="mc-embedded-subscribe mailchimp4" class="btnsubscribe2 btn btn-default mail2 email-subscrime">
								<span class="glyphicon glyphicon-chevron-right"></span></button>
							</div>
                        </div>
                    </form>
                </div>			
			</p>


						
			<a class="login">Домашние продукты без посредников на Камчатке</a>

			<p class="copy">© 1991-2015 Семейная ферма | Сайт не является публичной офертой.</p>

		</div>
		
		<a href="#" class="close-info">
			<span class="plus glyphicon glyphicon-sound-stereo"></span>
		</a>

	</section>
</body>

<!-- Modal news-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-sound-dolby"></span></button>
        <h4 class="modal-title" id="myModalLabel">Следите за нами на facebook</h4>
      </div>
      <div class="modal-body">
                            <div id="modal-FB-VK">
								<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ffarmily.ru&amp;width&amp;height=521&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=629268383828061" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:453px;" allowTransparency="true"></iframe>
                            </div>
                            <div id="modal-FB-VK">
                                <link href="" rel="stylesheet" type="text/css">
									<div id="mc_embed_signup mailchimp1">
										<form action="//farmily.us8.list-manage.com/subscribe/post?u=54ff78ea102067cf0db380e4c&amp;id=37e38f26e9" method="post" id="mc-embedded-subscribe-form mailchimp2" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
											<div id="mc_embed_signup_scroll mailchimp3">
																
												<input type="email" value="" name="EMAIL" class="btnsubscribe1 email form-control required mail" id="mce-EMAIL mailchimp4" placeholder="Подписка на e-mail" style="" required>
																
													<div style="position: absolute; left: -5000px;">
														<input type="text" name="b_54ff78ea102067cf0db380e4c_37e38f26e9" tabindex="-1" value="">
													</div>
																
													<div class="clear">
													<button type="submit" value="" name="subscribe" id="mc-embedded-subscribe mailchimp4" class="btnsubscribe2 btn btn-default mail2 email-subscrime">
													<span class="glyphicon glyphicon-chevron-right"></span></button>
												</div>
											</div>
										</form>
									</div>
                            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
	
<!-- Modal parent_popup -->	
<div id="parent_popup">
    <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
							<img class="" src="sale/sale.png" width="268" height="185" alt="Бесплатная доставка">
						</div>
                        <div class="modal-body">

							<p class="">
							<span class="sale3">
							
<!--							* Бесплатная доставка в пределах от п.Нагорный (20км) до П-Камчатский (КП), в удобное водителю время.
-->
							* Доставка временно не осуществляется. Заказы принимаются с возможностью самовывоза. 
							</span>
							</p>

<!--				
							<p class="">
							<span class="sale3">
							В связи с отсутствием на Камчатке и невозможности контролировать деятельность из-за "бугра"...
							ресурс временно не принимает заказы. Доставка не осуществляется.<br>
							<br>
							Ферма функционирует в штатном режиме.<br>
							Заказы принимаются по тел. +7(900)441-41-11 с возможностью самовывоза.<br>
							</span>
							</p>
-->	
							
<br>
							<p class="">	
							<span class="salesize">
							Данный ресурс не является публичной офертой.<br>
							В силу обстоятельств, нам не всегда удается вовремя корректировать информацию на сайте и в группах.<br>
							Поэтому, мы оставляем за собой право изменять условия и прочее в одностороннем порядке.<br>
							</span>
							</p>
						
						</div>
						
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="document.getElementById('parent_popup').style.display='none';">
								<span class="glyphicon glyphicon-ok"></span> Я согласен
							</button>
                        </div>
                    </div>
    </div>
</div>



<!-- Modal Placeholder -->
<div id="modalContainer"> 
  <div class="modal fade" id="commonModal"> 
  <div class="modal-dialog">
    <div class="modal-content common-modal-content">
   </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div>
</div>
<!-- Modal Placeholder -->
<!--  Templates --> 
<!-- Submit Order form -->
<script type="text/template" class="submit-order-form-template">
    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-sound-dolby"></span></button>
      <h3 class="order-page-header">Оформление заказа</h3>
    </div>
    <div class="modal-body order-page-body"> 

      <!-- Submit Order Form -->
      <form class="form-horizontal bs-3-form" id="submitOrderForm">
      <div class="bs-callout bs-callout-danger">
    <strong class="color-red">*</strong> Обязательные поля 
  </div>
<div>
    <!--  Name -->
      <div class="form-group">
          <label for="fname" class="col-sm-3 col-md-3 col-lg-3 control-label">
		  <span class="glyphicon glyphicon-user"></span> 
		  </label>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <input type="text" name="fname" value="" id="fname" class="form-control" placeholder="Имя" autofocus="">
 
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3">
            <input type="text" name="lname" value="" id="lname" class="form-control" placeholder="Фамилия">
 
          </div>
                  </div>
    <!--  /Name --> 
 
    <!--  Email -->
    <div class="form-group">
            <label for="sof_email" class="col-sm-3 col-md-3 col-lg-3 control-label"><strong class="color-red">*</strong>
			<span class="glyphicon glyphicon-envelope"></span>
			</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
             <input type="email" name="sof_email" value="" id="sof_email" class="form-control required" required placeholder="Введите ваш e-mail">
 
                          </div>
          </div>
          <!--  /Email -->

    <!--  Phone -->
    <div class="form-group">
            <label for="sof_email" class="col-sm-3 col-md-3 col-lg-3 control-label"><strong class="color-red">*</strong>
			<span class="glyphicon glyphicon-earphone"></span>
			</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
             <input type="tel" name="sof_ph" value="" id="sof_ph" class="form-control required" required placeholder="Телефон в формате 8(xxx)xxx-xx-xx">
			</div>
          </div>
    <!--  /Phone --> 

          <!--  Address -->
          <div class="form-group">
<label for="sof_add" class="col-sm-3 col-md-3 col-lg-3 control-label"><span class="glyphicon glyphicon-tag"></span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
             <div class="input-group">
		<span class="input-group-btn">
        <button class="btn btn-danger" type="button"
		onClick="window.open('http://www.paywithatweet.com/pay?id=111f9e1b-768f-4072-9a4f-011eb15fac52','windowname')"
		>Получить скидку</button>
      </span> 
	  <input type="text" name="sof_add" value="" id="sof_add" class="form-control" placeholder="Введите код">
			  

			  
			  
            </div>
            </div>
          </div>
 
          <!--  /Address --> 
	
          <!--  Message -->
          <div class="form-group">
 <label for="sof_message" class="col-sm-3 col-md-3 col-lg-3 control-label">
<span class="glyphicon glyphicon-pencil"></span>
 </label>
              <div class="col-sm-8 col-md-8 col-lg-8">
                <textarea name="sof_message" cols="40" rows="10" id="sof_message" class="form-control" placeholder="Детали к заказу или прочая информация"></textarea>
            </div>
            </div>
          <!--  /Message -->
      </form>
      <!-- /Submit Order Form --> 	
	
    </div>
    <div class="modal-footer"> 
      <!--  Action Buttons -->
      <div><a id="backToCartBtn" href="#" class="btn btn-default pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Вернуться</a>
	
	  <a href="#" id="submitOrderBtn" disabled class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> Отправить заказ</a> 
	  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button></div>
      
	  </div>
     <!--  /Action Buttons --> 
    </div>
</script>
<!-- /Submit Order form -->
<!-- Shopping Cart. --> 
<script type="text/template" class="shopping-cart-template">
    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-sound-dolby"></span></button>
      <h3>Ваша сумка</h3>
    </div>
    <div class="modal-body"> 
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Наименование</th>
            <th class="right-align">Цена</th>
            <th class="right-align">Кол-во</th>
            <th class="right-align">Итого</th>
            <th><span class="btn btn-link no-cursor"><i class="glyphicon glyphicon-trash"></i></span></th>
          </tr>
        </thead>
        <tbody id="shoppingCartData">
            <% if( _oData.cartProductsCollection.length > 0 ) {
            _.each( _oData.cartProductsCollection, function(listItem, nCartRowIndex ) { 
              var listItemProduct = _oData.allProductsCollection[listItem.index]; %>
              <tr>
                <td><%- listItemProduct.name %> <br>
                <small>
                <% if(listItem.size && (listItem.size != "NA")) { %>
                 <strong><span class="glyphicon glyphicon-time"></span> </strong><%- listItem.size %>
                <% };
                if(listItem.color && (listItem.color != "NA")) { %>
                 <strong><span class="glyphicon glyphicon-download-alt"></span> </strong><%- listItem.color %>
                <% } %>
                </small>
                </td>
                <td class="right-align"><%- listItemProduct.formattedPrice %></td>
                <td><input data-cartrowindex="<%- nCartRowIndex %>" type="number" step="1" min="1" value="<%- listItem.qty %>" class="cart-product-qty center-align"/></td>
                <td class="right-align"><%- _oData.fnMisc.formatAmount(listItemProduct.price *  listItem.qty) %></td>
                <td><button type="button" data-cartrowindex="<%- nCartRowIndex %>" href="#" class="btn btn-link delete-product-from-cart" title="Remove from Cart"><i class="glyphicon glyphicon-trash"></i></button></td>
              </tr>
            <% }); } else { %>
                <td colspan="6"><div class="alert alert-info">Корзина пуста!</div></td>
            <% } %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="modal-footer"> 
      <div id="shopping_cart_total" class="alert alert-info tar"><strong><%- _oData.cartStats.totalItems %></strong> позиция(и/й) на сумму <%- _oData.cartStats.amountFormatted %>
      <% if( _oData.configOptions.shippingCharges ) { %>
      + Shipping: <%- _oData.fnMisc.formatAmount( _oData.configOptions.shippingCharges ) %> = 
      <strong> <%- _oData.fnMisc.fullFormatAmount( _oData.cartStats.subTotal +  _oData.configOptions.shippingCharges) %> </strong>
      <% } %>
      </div>
      <div> 
      <a href="#" class="btn btn-default pull-left" data-dismiss="modal"><i class="glyphicon glyphicon-arrow-left"></i> Продолжить покупки</a> </div>

	<a id="checkoutSubmitOrderBtn" <% if( ! _oData.generalVars.enableOrderBtn) { %> disabled <% } %> class="btn btn-primary"  title="Submit order by Email" href="#/shopping-cart/uid-submit-order">Оформить <i class="glyphicon glyphicon-envelope"></i></a>      
	 
	 </div>
</script>
<!-- /Shopping Cart. --> 
<!-- Shopping Cart button. --> 
<script type="text/template" class="shopping-cart-btn-template">
<p class="pull-right">
  <a title="View Cart" class="oval green btn btn-default show-shopping-cart-btn" href="#/shopping-cart/uid-show">
   <span class="ooo glyphicon glyphicon-shopping-cart"></span> <span class="numb"><strong><%- _oData.cartStats.totalItems %></strong></span></a> 
</p>
</script>
<!-- /Shopping Cart button. --> 
<!-- Add to cart button. -->
<script type="text/template" class="add-to-cart-btn-template">
<% if( ! _oData.nProductInCart ) { %>
    <a href="#" class="btn btn-danger add-to-cart-btn"><span class="add-to-cart-btn-text">Положить в</span> <i class="glyphicon glyphicon-shopping-cart"></i></a>
<% } else { %>
    <a href="#" class="btn btn-danger add-to-cart-btn"><span class="add-to-cart-btn-text">Еще в</span> <i class="glyphicon glyphicon-shopping-cart"></i>: <%- _oData.nProductInCart %> </a>
<% }%>
</script>
<!-- Sidebar Categories. -->
<script type="text/template" class="sidebar-catgegories-template">
<% _.each(_oData.categoriesCollection,function( listItem ){ %>
  <li class="list-group-item category-list-item-<%- listItem.index %>">
     <a data-categoryindex="<%- listItem.index %>" href="#/category/uid-<%- listItem.index %>/<%- listItem.slug %>" class="category-link-<%- listItem.index %> category-link btn-block"><%- listItem.name %> <i class="glyphicon glyphicon-arrow-right pull-right"></i></a>
  </li>
<% }) %>
</script>
<!-- /Add to cart button. -->
<!-- Products Grid -->
<script type="text/template" class="products-grid-template">
<% if( _oData.currentProductCollection.length < 1) { %>
<div class="alert alert-warning">
  No Products to Display
</div>
<% } else { %>
<% _.each( _oData.currentProductCollection, function( listItem ){ %>
    <li data-productindex="<%- listItem.index %>" class="product-item">
  <div class="thumbnail">
  <h4 class="product-name"> <%- listItem.name %></h4>
  <a data-productindex="<%- listItem.index %>" href="#/product/uid-<%- listItem.index %>/<%- listItem.slug %>" class="product-id-<%- listItem.index %> product-link">
    <div class="thumb-holder"><img src="<%- listItem.thumbPath %>" alt="<%- listItem.name %>"></div>
    </a>
    <h4 class="product-price"><%- listItem.formattedPrice %>
       <% if(listItem.oldPrice){ %>
      <small class="old-product-price">/ <%- listItem.oldPrice.formatted %></small>
      <% } %>
    </h4>

    <a data-productindex="<%- listItem.index %>" href="#/product/uid-<%- listItem.index %>/<%- listItem.slug %>" class="product-id-<%- listItem.index %> product-link btn btn-primary btn-block"><i class="glyphicon glyphicon-info-sign"></i> Дополнительная информация </a>
  </div>
</li>
<% }); }; %>
</script>
<!-- /Products Grid -->
<!-- Product Details Modal -->
<script type="text/template" class="products-details-modal-template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-sound-dolby"></span></button>
    <h4 class="modal-title"><%- _oData.oCurrentProductData.name %></h4>
    <span class="product-attributes">
		<% var categoryItem = _oData.categoriesCollection[_oData.oCurrentProductData.categoryIndex]; %>
		<strong>Стоимость: </strong><strong class="product-price"><%- _oData.oCurrentProductData.formattedPrice %></strong>
  	</span>
  </div>
  <div class="modal-body lw-modal-body">
    <%= _oData.oCurrentProductData.details %>
  </div>
  <div class="modal-footer">
  <div class="form-inline">
<% var ddSizes = _oData.oCurrentProductData.options.sizes;
if((ddSizes.length > 0) && (ddSizes[0].name != "NA")) { %>
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
   <select id="productSizeSelector" class="form-control product-size-selector option-selector">

<% _.each(ddSizes,function(ddSize){ %>
<option value="<%- ddSize.value %>"><%- ddSize.name %></option>
<% }) %> 
</select>
</div>
<% }%>
<% var ddColors = _oData.oCurrentProductData.options.colors;
if((ddColors.length > 0) && (ddColors[0].name != "NA")) { %>
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-download-alt"></span></span>
   <select id="productColorSelector" class="form-control product-color-selector option-selector">
<% _.each(ddColors,function(ddColor){ %>
<option value="<%- ddColor.value %>"><%- ddColor.name %></option>
<% }) %> 
</select>
</div>
<% }%>
<span id="addToCartBtnContainer"></span>
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
  </div>
  </div>
</script>
<!-- /Product Details Modal -->
<!-- Placed at the end of the document so the pages load faster --> 



<!--  javascript	================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="static-assets/packages/other-js-libs/jquery-1.11.1.min.js"></script> --> 
<script type="text/javascript" src="static-assets/lw-jquery-xml-cart/js/all-other-site.js"></script>
<script type="text/javascript" src="static-assets/packages/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static-assets/packages/other-js-libs/all-other-shop-js-libs.js"></script> 

<!-- Users in site --> 
<script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=1372536" type="text/javascript"></script>
				
</html>

<!-- Localized -->