

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .pagewrap {
	height: 100%;
}

body {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

.container {
	min-height: 100%;
}

a {
	color: rgba(0,0,0,0.25);
	font-weight: bold;
	text-shadow: 0 0 rgba(0,0,0,0);
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: rgba(0,0,0,0.6);
}


section {
	padding: 3em 1em 10em;
	text-align: center;
	clear: both;
}

section h2 {
	font-size: 2.6em;
	font-weight: 300;
	padding: 4em 0 0.4em;
}

section p {
	font-size: 1.5em;
	line-height: 1.5;
	margin-top: 0;
}


.pageload-link {
	padding: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.6em;
	white-space: nowrap;
}

.pageload-link:hover {
	color: #fff;
}

#page-2 {
	background: #FFFFFF;
}



