@charset "utf-8";
/* CSS Document */

.span4 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* align-items: center; */
  align-content: center;
  justify-content: center;
  overflow: auto;
  margin: 0;
  background: linear-gradient(to bottom right, #0e0e10, #1f212d);
  background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-top: 10em;
    margin-bottom: 20px;
    background-color: #ffffff00;
    border: 0px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 600px;
    font-family: 'Source Code Pro', Consolas, Menlo, monospace;
}

.input-prepend {
    width: 260px;
    margin-left: calc(50% - 150px);
}
legend {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding: .1em 0em .1em 0em;
    border-bottom: 0px solid #e5e5e5;
    color: #ffffff;
    fill: aqua;
    mix-blend-mode: multiply;
    margin-bottom: 4em;
    position: relative;
    margin-bottom: 2em;
    font-family: sans-serif;
    text-shadow: 0px 1px 6px #000000;
    /* fill: chocolate; */
    /* background: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* height: 140px; */
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
    /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    /* background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
    /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
}

input.input-medium {
    width: calc(100% - 40px);
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}
.input-prepend.inline.Card {
    width: 65%;
}

.input-prepend.inline.MM {
    width: 9%;
}

.input-prepend.inline.YY {
    width: 13%;
}

.input-prepend.inline.CVC {
    width: 15%;
    position: relative;
    right: 0;
    left: 0px;
    float: right;
    text-align: center;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff00;
    /* border-bottom: 2px solid #CED7DF; */
    border-bottom: 1px solid #9500b9;
    border-top: 1px solid #923d3d00;
    border-right: 1px solid #923d3d00;
    border-left: 1px solid #923d3d00;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
    padding: 14px 8px 6px 14px;
    font-size: 20px;
    width: 100%;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Source Code Pro', Consolas, Menlo, monospace;
}
.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 0px 0 #ffffff;
    background-color: #ffffff;
    padding: 16px 8px 4px 4px;
    background-color: #ffffff00;
    border-bottom: 1px solid #9500b9;
    border-top: 1px solid #923d3d00;
    border-right: 1px solid #923d3d00;
    border-left: 1px solid #923d3d00;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    -webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}
input.input-medium.focused.MM {
    /* width: 50px; */
    padding: 40px 0px 4px 6px;
    text-align: center;
}
input.input-medium.focused.CVC {
    text-align: center;
}
input.feedback.btn.btn-block.btn-large.btn-success {
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    padding: 40px;
    max-width: 290px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    font-family: 'Source Code Pro', Consolas, Menlo, monospace;
    font-family: sans-serif;
    color: #484848;
}
span.slesh {
    position: absolute;
    font-size: 35px;
    z-index: 1;
    margin-top: 35px;
    color: #CED7DF;
}
.icon-book {
    background-position: 0;
    background-image: url(../svg/002-mastercard.svg);
    background-size: cover;
    width: 50px;
    height: 32px;
    margin-top: -13px;
    opacity: .25;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0);
    outline: 0;
    outline: 0px auto #0096de;
    outline: thin dotted \9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #9d00b7;
}
.police {
    position: relative;
    margin-bottom: 4em;
    text-align: center;
    width: 100%;
    max-width: 600px;
    font-size: 12px;
    color: #e0e0e0;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: right;
    /* margin-left: -20px; */
    /* width: 300px; */
    /* margin-left: calc(50% - 150px); */
    /* position: relative; */
}
.radio, .checkbox {
    min-height: 20px;
    padding-left: 20px;
    width: 300px;
    margin-left: calc(50% - 150px);
    position: relative;
    text-align: right;
    font-size: 12px;
    color: #ababab;
}
.btn-success {
    color: #ffffff;
    color: #484848;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    /* background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%); */
    background-color: #ffffff;
    border-color: transparent;
    box-shadow: 0 15px 30px #0000003d;
    border: 0px solid #cccccc;
    background-image: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
}
.btn:hover, .btn:focus {
    color: #ffffff;
    text-decoration: none;
    background-position: 0 0px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    background-color: #51a35100;
    box-shadow: 0 3px 15px #d41872bf;
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -o-transform: scale(0.99);
}
.box-modal {
    position: absolute;
    width: 100vw !important;
    height: 100vh;
    min-height: 0;
    padding: 0;
    left: 0;
    top: 0;
    background: #fff;
    color: #3c3c3c;
    /* box-shadow: 0 0 0 6px rgba(153, 153, 153, .3); */
    border-radius: 0;
}
.modal-close {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    color: #fff;
    background: #ffffff;
    cursor: pointer;
    border-radius: 13px;
    font-family: Verdana;
}
.modal-close:hover {
    background: #ffffff;
}
.gmot {
    font-size: 30px;
    font-weight: 900;
    margin: 1em;
}
.wow {
    font-size: 200px;
    top: 30px;
    position: relative;
}
span.pol {
    position: relative;
    font-size: 10px;
}


.politics {
    width: 100vw;
    height: 100vh;
    background: #181921;
    background: linear-gradient(to bottom right, #0e0e10, #1f212d);
    background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
    position: absolute;
    left: 0;
    top: 0;
    /* margin-left: calc(50% - 300px); */
    /* text-align: center; */
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    /* -webkit-transition: all 4.15s ease-out; */
}
.center {
    text-align: center;
    top: 40%;
    position: relative;
    font-size: x-large;
}
a.llg1 {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    left: -40px;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: .5em 1em;
}

a.llg2 {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    left: 40px;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: .5em 1em;
}

.center.llg {
    margin-top: 0em;
    margin-bottom: 40vh;
}
.ren {
    color: #6c6c6c;
    color: #ffffff9e;
}
.center.pol {
    font-size: medium;
    color: #ffffffb8;
}
a.llg1:hover {
    background: #fff;
    color: #484848;
    text-decoration: none;
}

a.llg2:hover {
    background: #fff;
    color: #484848;
    text-decoration: none;
}
div#skeuocard:active {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

div#skeuocard:focus {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

div#skeuocard:focus-within {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

div#skeuocard:visited {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

div#skeuocard:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.face.front.invalid:before {
    content: "Your";
    font-size: 20px;
    left: 35px;
    position: absolute;
    top: 31px;
    color: #484848;
    letter-spacing: -2px;
}

.face.front.invalid:after {
    content: "Bank";
    font-size: 27px;
    left: 78px;
    position: absolute;
    top: 25px;
    color: #484848;
    font-weight: 900;
}






.loaderArea {
  background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.loader:before {
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(180deg) skew(360deg);
  }
}


.loader:after {
  animation: animate2 2s infinite linear;
}

@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}













input:-moz-placeholder,textarea:-moz-placeholder{color:#00000059;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#00000059;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#00000059;}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 30px;
    height: 30px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: -10px;
}

.icon-user {
    background-position: 0px 0;
    background-image: url(../images/user.svg);
}
.icon-email {
    background-position: 0px 0;
    background-image: url(../images/email.svg);
}
