.QOverlay {
background-color: #000000;
z-index: 9999;
}

.QLoader {
background-color: #fff;
height: .5vh;
}

.QAmt {
color:#fff;
    font-family: 'TrumpSoftPro-Bold', sans-serif;
    font-size: 67px;
        letter-spacing: .05em;
line-height:50px;
height:50px;
width:100px;
margin:-50px 0 0 -50px;
}
